
button, div, form, input {
      margin: 10px;
    }
body {

        background-image: url("https://a-z-animals.com/media/habitat/images/470x370/grassland1.jpg");
        background-size: 100%;
       }

  

    @media (max-width: 980px) {
        .container1 {
            width: 500px;
           
        }
       
         }
        
        @media (max-width: 768px) {
            * {
                align-content: center;
            }}
           
        
            @media (max-width: 640px) {
                * {
                    align-content: center;
                }
            }